<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <title>EscapePlan Travel Planner</title>
</head>

<body>
    <header>
        <div class="innerContainer">
            <nav class="flexBox twoCol">
                <a href="index.html" class="logo">EscapePlan</a>
                <ul class="flexBox">
                    <li><a href="/login"> Login</a></li>
                    <li><a href="/signup" class="navBtn"> Signup</a></li>
                </ul>
            </nav>
    </header>
    <section class="innerContainer">
        <div class="hero">
            <h1>One app for all your travel planning needs</h1>
            <p>Create detailed itineraries, manage your budget, and store important documents — all in one place.</p>
            <a href="/signup" class="primaryBtn">Start Planning</a>
        </div>
    </section>
    <section class="innerContainer">
        <div class="flexBox twoCol gap2">
            <div class="imageBox">
                <img src="assets/trip-itinerary.jpg" width="100%" class="image">
            </div>
            <div class="textBox">
                <h2>Create a trip itinerary to see everything in one place</h2>
                <p>Add the attractions you want to visit and see how to go between them on a map. Check distances and travel times between locations and attractions, schedule specific times for your visits, and optimize your route so you can make the most of your trip. See your flights and hotels for the day to keep track of what's coming up.</p>
            </div>
        </div>
    </section>
    <section class="innerContainer">
        <div class="flexBox twoCol gap2">
            <div class="textBox">
                <h2>Create a trip itinerary to see everything in one place</h2>
                <p>Add the attractions you want to visit and see how to go between them on a map. Check distances and travel times between locations and attractions, schedule specific times for your visits, and optimize your route so you can make the most of your trip. See your flights and hotels for the day to keep track of what's coming up.</p>
            </div>
            <div class="imageBox">
                <img src="assets/trip-itinerary.jpg" width="100%" class="image">
            </div>
        </div>
    </section>
    <section class="innerContainer">
        <div class="flexBox twoCol gap2">
            <div class="imageBox">
                <img src="assets/trip-itinerary.jpg" width="100%" class="image">
            </div>
            <div class="textBox">
                <h2>Create a trip itinerary to see everything in one place</h2>
                <p>Add the attractions you want to visit and see how to go between them on a map. Check distances and travel times between locations and attractions, schedule specific times for your visits, and optimize your route so you can make the most of your trip. See your flights and hotels for the day to keep track of what's coming up.</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="innerContainer">
            <p class="footerText">Made with love from Chicago © 2024 Oak + Wren.</p>
        </div>
    </footer>
</body>
</html>